.tx-feediting-fluidtemplate:hover {
    /*padding: 5px;*/
    /*margin: 5px;*/
    outline: 1px solid #eee;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.tx-feediting-fluidtemplate-pages:hover {
    outline: none;
    box-shadow: none;
}

.tx-feediting-panel {
    /*background: #eee;*/
    color: #333 !important;
    /*min-width: 400px;*/
}

.tx-feediting-panel a {
    text-decoration: none !important;
    display: initial !important;
    position: initial !important;
}

.tx-feediting-panel .tx-feediting-type {
    font-weight: bold;
    padding: 5px 10px;
    background: #eee;
    border-bottom: 1px solid #ccc;
}

.tx-feediting-panel .tx-feediting-type span {
    font-style: italic;
}

.tx-feediting-panel .tx-feediting-actions {
    padding: 5px 10px;
}

.tx-feediting-element {

    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 0.75rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);

    --bs-btn-color: #000;
    --bs-btn-bg: rgb(238, 238, 238);
    --bs-btn-border-color: #bbbbbb;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #cacaca;
    --bs-btn-hover-border-color: #bebebe;
    --bs-btn-focus-shadow-rgb: 159, 159, 159;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #bebebe;


    position: relative;
    padding: 3px;
    margin: 5px 3px;
    border: 1px solid #666;
    color: var(--bs-btn-color) !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    gap: 3px;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    box-shadow: var(--bs-btn-box-shadow);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tx-feediting-element a {
    color: inherit;
}

.tx-feediting-element:hover {
    color: var(--bs-btn-hover-color);
    text-decoration: none;
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.icon-size-small svg {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    width: 16px;
}


.tx-feediting-dropdown {
    position: relative;
    display: inline-block;
}

.tx-feediting-dropdown > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.tx-feediting-dropdown > label,
.tx-feediting-dropdown > a[role="button"] {
    display: inline-block;
    padding: 6px 15px;
    color: #333;
    line-height: 1.5em;
    text-decoration: none;
    border: 1px solid #8c8c8c;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tx-feediting-dropdown > label:hover,
.tx-feediting-dropdown > a[role="button"]:hover,
.tx-feediting-dropdown > a[role="button"]:focus {
    border-color: #333;
}

.tx-feediting-dropdown > label:after,
.tx-feediting-dropdown > a[role="button"]:after {
    content: "x";
    display: inline-block;
    margin-left: 6px;
}

.tx-feediting-dropdown > ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -100vw;
    top: calc(1.5em + 14px);
    border: 1px solid #8c8c8c;
    background: #fff;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
}

.tx-feediting-dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
}

.tx-feediting-dropdown > ul a:hover,
.tx-feediting-dropdown > ul a:focus {
    background: #ececec;
}

.tx-feediting-dropdown > input[type="checkbox"]:checked ~ ul,
.tx-feediting-dropdown > ul:target {
    left: 0;
}

.tx-feediting-dropdown > [type="checkbox"]:checked + label:after,
.tx-feediting-dropdown > ul:target ~ a:after {
    content: "\f0d8";
}

.tx-feediting-dropdown a.close {
    display: none;
}

.tx-feediting-dropdown > ul:target ~ a.close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-indent: -100vw;
    z-index: 1000;
}


@keyframes slide-top {
    0% {
        opacity: 0;
        transform: translateY(-15%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(15%)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slide-bottom {
    0% {
        opacity: 0;
        transform: translateY(15%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(-15%)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.popover {
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    min-width: 450px;
}

.popover--top {
    margin-top: -16px;
    animation: .4s slide-top
}

.popover--top::before, .popover--top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top-color: #fff
}

.popover--top::before {
    margin-top: 1px;
    border-top-color: #6a6a6a
}

.popover--right {
    margin-left: 16px;
    animation: .4s slide-right
}

.popover--right::before, .popover--right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    border: 8px solid transparent;
    border-right-color: #fff
}

.popover--right::before {
    margin-right: 1px;
    border-right-color: #6a6a6a
}

.popover--bottom {
    margin-top: 16px;
    animation: .4s slide-bottom
}

.popover--bottom::before, .popover--bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom-color: #fff
}

.popover--bottom::before {
    margin-bottom: 1px;
    border-bottom-color: #6a6a6a
}

.popover--left {
    margin-left: -16px;
    animation: .4s slide-left
}

.popover--left::before, .popover--left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -8px;
    border: 8px solid transparent;
    border-left-color: #fff
}

.popover--left::before {
    margin-left: 1px;
    border-left-color: #6a6a6a
}

.feediting-popover-trigger {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 0 auto;

    appearance: none;
    background-color: #FAFBFC;
    border: 1px px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}
